/*** ALL PAGE STYLES ***/

body {
  background-color: #005eb8;
  margin: 0;
  padding: 0;
  width: 100%; /* NEW full window width */
  font-family: sans-serif;
  overflow: hidden scroll;
  -ms-overflow-style: none;
}

.links {

  width: 95%;
  padding-left: 2vw;
  padding-top: 1vw;
}

a { 
  font: bold 2vw sans-serif;
  color:lightsteelblue;
  line-height: 3vw;
}

a:hover {
  color: hotpink;
}

.htl {
  position: relative;
  top: 2vw;
  left: 2vw;
  font: bold 3.1vw sans-serif;
  color:white;
  line-height: 5vw;
  padding-bottom: 2vw;
}

.blank {
  background-color: #005eb8;
}

.stat {
display: none;  
}

/********** LOGO **********/

.frame {
  position: relative;
  top: 1vw;
  left: 2vw;
  width: 10vw;
  height: 6.5vw;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
figure {
  width: 50%;
  height: 50%;
}
figure .image-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/MDC_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}

/********** MOBILE **********/

  @media only screen and (min-device-width : 320px) and (max-device-width : 700px)  {
    body {
      height: 100vw;
      background-color: red;
  }
    a { 
      font: bold 4vw sans-serif;
      color:green;
      line-height: 6vw;
  }
    a:hover {
    color: hotpink;
  }
        
  .htl {
    font: bold 8vw sans-serif;
  }

  .frame {
    width: 30vw;
    height: 19vw;
  }
  figure {
    width: 50%;
    height: 50%;
  }
  
}