/*** ALL PAGE STYLES ***/

html {
  scrollbar-width: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%; /* NEW full window width */
  font-family: sans-serif;
  overflow: hidden scroll;
  -ms-overflow-style: none;
}

a { 
  color: inherit; 
}

htl {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font: bold 5vw sans-serif;
  color:white;
}
htm {
  position: absolute;
  top: 7vw;
  left: 28vw;
  font: bold 5vw sans-serif;
  color:white;
}
htp {
  writing-mode:vertical-rl;
  transform: rotate(180deg);
}
em {
  position: absolute;
  top: 1.4vw;
  left: 12.8vw;
  font-size: 1.5vw;
  font-family: 'Franklin Gothic Book';
  font-weight:100;
  color: white;
  font-style: normal;
}
em:hover {
  position: absolute;
  top: 1.4vw;
  left: 13vw;
  color: hotpink;
}


h2 {
  font: 1.3vw sans-serif;
}
h3 {
  transform: scale(1.6);
}
.blank {
  background-color: #005eb8;
}

/********** SECTION 1 LOGO BLINDS **********/

.frame {
  position: absolute;
  top: 15vw;
  left: 40vw;
  width: 20vw;
  height: 13vw;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
figure {
  width: 100%;
  height: 100%;
}
figure .image-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/MDC_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}
figure .image-2 {
  display: inline-block;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background-image: url("../images/SPC.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease-in-out;
}
figure:hover .image-2 {
  opacity: 1;
  transform: translate(0) !important;
}
figure:hover + .text {
  color: white;
}
figure .image-2:nth-child(2) {
  background-position: 0px 0px;
  left: 0px;
  transform: translateY(60px);
}
figure .image-2:nth-child(3) {
  background-position: -50px 0;
  left: 50px;
  transform: translateY(-60px);
}
figure .image-2:nth-child(4) {
  background-position: -100px 0;
  left: 100px;
  transform: translateY(60px);
}
figure .image-2:nth-child(5) {
  left: 150px;
  background-position: -150px 0;
  transform: translateY(-60px);
}
figure .image-2:nth-child(6) {
  left: 200px;
  background-position: -200px 0;
  transform: translateY(60px);
}
figure .image-2:nth-child(7) {
  left: 250px;
  background-position: -250px 0;
  transform: translateY(-60px);
}
figure .image-2:nth-child(8) {
  left: 300px;
  background-position: -300px 0;
  transform: translateY(60px);
}
figure .image-2:nth-child(9) {
  left: 350px;
  background-position: -350px 0;
  transform: translateY(-60px);
}

.rotate {
  width: 30vw;
  height: 23vw;
  position: absolute;
  background-image: url("../images/rotate.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  top: 20vw;
  left: 2vw;
  transform: rotate(-90deg);
}

.prm {
  writing-mode:vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 10vw;
  left: 14vw;
  display: none;
  font: bold 4vw sans-serif;
  color:grey;
  }

/********** SECTION TWO TRAINING OFFER CARDS **********/
.wrap{
  width: 100%;
  position: relative;
}
p{
color: #425563;
display: block;
padding-top: 1%;
}
.container-cards{
  width: 95%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  font-size: 1vw;
  font-weight: 100;
  color: #425563;
}
.container-cards .card{
  position: relative;
  cursor: crosshair;
}
.container-cards .card .face{
  width: 18vw;
  height: 10vw;
  transition: 0.5s;
}
.container-cards .card .face.face1{
  position: relative;
  background:#ffe5a2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform:translateY(7.5vw);
}
.container-cards .card:hover .face.face1{
  background: #FFB901;
  transform: scaleY(40%) scaleX(40%) translateY(66%) translateX(-60%);
}
.container-cards .card .face.face1 .content{
  opacity: 0.7;
  transition: 0.5s;
}
.container-cards .card:hover .face.face1 .content{
  opacity: 1;
}
.container-cards .card .face.face1 .content h3{
  margin: 0.1vw 0 0;
  padding: 0;
  color: #425563;
  text-align: center;
  font-size: 1.5vw;
}
.container-cards .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 1vw 1vw 1vw;
  box-sizing: border-box;
  box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.5);
  transform: translateY(-2.6vw);
}
.container-cards .card:hover .face.face2{
  transform: translateY(-2.5vw);
}
.container-cards .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

/********** SECTION THREE TABLE STYLES **********/

table {
  table-layout: fixed;
  width: 73%;
  border-collapse: collapse;
  border: 1px solid #b3bac0;
  font: 1.2vw sans-serif;
  position: absolute;
  top: 9vw;
  left: 2%;
  overflow-x: auto;
}
thead th:nth-child(1) {
  width: 17%;
}
thead th:nth-child(2) {
  width: 10%;
}
thead th:nth-child(3) {
  width: 19%;
}
thead th:nth-child(4) {
  width: 8%;
}
thead th:nth-child(5) {
  width: 19%;
}
th {
  padding: 2px;
  border: 1px solid #b3bac0;
  background-color: #425563;
  font-weight: bolder;
}
td {
  padding: 2px;
  border: 1px solid #b3bac0;
}
/** TABLE ZEBRA STRIPING **/
tbody tr:nth-child(odd) {
background-color: #6482b8;
}
tbody tr:nth-child(even) {
background-color: #98aad0;
}
table {
background-color: #6482b8;
}

/********** SECTION FOUR TWITTER **********/

.twitter-follow {
  position: absolute;
  width: 24vw;
  height: 4.8vw;
  top: 10vw;
  left: 2vw;
  font: 1.8vw sans-serif;
}

.twitter-follow-left {
  border-collapse: collapse;
  /*border-right: 1px solid white;*/
  background-image: url("../images/followL.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 8vw;
  height: 4.8vw;
  top: 0vw;
  left: 0vw;
}

.twitter-follow-mid {
  border-collapse: collapse;
  border-left: 1px solid white;
  background-image: url("../images/followM.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 8vw;
  height: 4.8vw;
  top: 0vw;
  left: 8vw;
}

.twitter-follow-right {
  border-collapse: collapse;
  border-left: 1px solid white;
  background-image: url("../images/followR.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 8vw;
  height: 4.8vw;
  top: 0vw;
  left: 16vw;
}

.twitter-follow-left:hover {
  border-collapse: collapse;
  /*border-right: 1px solid white;*/
  background-image: url("../images/followSAM.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 8vw;
  height: 4.8vw;
  top: 0vw;
  left: 0vw;
}

.twitter-follow-mid:hover {
  border-collapse: collapse;
  border-left: 1px solid white;
  background-image: url("../images/followADAM.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 8vw;
  height: 4.8vw;
  top: 0vw;
  left: 8vw;
}

.twitter-follow-right:hover {
  border-collapse: collapse;
  border-left: 1px solid white;
  background-image: url("../images/followMATT.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 8vw;
  height: 4.8vw;
  top: 0vw;
  left: 16vw;
}

.twitter-feed {
  position: absolute;
  width: 100vw;
  /*height: 23.5vw;
  width: 450px;
  height: 500px;*/
  top: 17vw;
  left: 2vw;
  display: flex;
  justify-content: space-between;
}

.futures {
  font: 1.3vw sans-serif;
  background-image: url("../images/futures.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10vw;
  left: 34vw;
  width: 43vw;
  height: 23.3vw;
  text-align: center;
}

.contact {
  font: 1.3vw sans-serif;
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 38.5vw;
  left: 34vw;
  width: 43vw;
  height: 4.3vw;
  text-align: center;
}


/*** ALL SCROLLER ***/

:root {
    --color-white: #fff;
    --time-animation: 0.6s;
  }
  @keyframes pulse {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .layout {
    width: 100%;
    height: calc(100vh * 3);
    position: relative;
  }
  .layout .section-stick {
    margin: auto;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
  }
  .layout .section-stick .stick,
  .layout .section-stick .active {
    width: 13px;
    height: 62px;
    border: none;
    border-radius: 9px;
  }
  .layout .section-stick .stick {
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all var(--time-animation) ease-in-out;
  }
  .layout .section-stick .active {
    position: absolute;
    background-color: var(--color-white);
    box-shadow: 0px 0px 12px 1px var(--color-white);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
  .layout section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    font-size: 80px;
    font-weight: 600;
    transform: translateY(100vh);
    transition: all var(--time-animation) ease-in-out;
    z-index: 0;
  }
  .layout section .home {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    align-items: center;
  }
  .layout section .home svg {
    animation: pulse 1.4s linear infinite normal;
  }

/*** ALL SECTION LAYOUT ***/

  .layout .s1 {
    background-color: #005eb8;
    transform: translateY(0);
    z-index: 4;
  }
  .layout .s2 {
    background-color: #41b6e6;
    z-index: 3;
  }
  .layout .s3 {
    background-color: #768692;
    z-index: 2;
  }
  .layout .s4 {
    background-color: #001a47;
    z-index: 1;
  }
  .layout .s5 {
    background-color: #003087;
    z-index: 1;
  }
  .layout .s6 {
    background-color: #ad5b74;
    z-index: 1;
  }
  .layout .s7 {
    background-color: #0aa499;
    z-index: 1;
  }
  .layout .s8 {
    background-color: #1aada3;
    z-index: 1;
  }
  .layout .s9 {
    background-color: #1aada3;
    z-index: 1;
  }
  .layout .s10 {
    background-color: #1aada3;
    z-index: 1;
  }


/*** ALL RESPONSIVE ***/
  /* MOBILE */
  @media screen and (max-width: 576px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
    .rotate {
      display: block;
      font: bold 4vw sans-serif;
      color:grey;
    }
    .prm {
      display: block;
  }
}

  @media only screen and (orientation:portrait){
    body {
      height: 100vw;
      transform: rotate(90deg);
    }
  }





/** --------------------------- **/
/**      OLD ARCHIVED CODE      **/
/** --------------------------- **/

/*
table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}

  /* 
  s1 = background-color: #4d2536;
  s2 = background-color: #02486b;
  s3 = background-color: #171716;
  s4 = background-color: #154621;
  */

/* ORIGINAL
body {
    background-image: url("../images/bg1.png");
    NEEDS COMMENTING OUT AGAIN --background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
*/


/**
.logo {
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%); /* FF3.6-15 */ /**
  background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* Chrome10-25,Safari5.1-6 */ /**
  background: linear-gradient(135deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /**
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 300px;
  height: 200px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 80px;
  cursor:crosshair;
  transition: .5s all;
}
  .logo__img {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url("../images/MDC_logo.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
    mix-blend-mode: screen;
  }
 
  .logo:hover {
    background-position: 100% 100%;
  }  



.logo {
  position: absolute;
  top: 100px;
  align-items: center;
  width: 300px;
  height: 200px;
  background-image:url("../images/MDC_logo.png");
  background-size: cover;} 

*/